[Desktop Entry]
Comment[en_AU]=
Comment=
Encoding=UTF-8
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY pineflash
GenericName[en_AU]=
GenericName=
MimeType=
Name[en_AU]="PineFlash"
Name="PineFlash"
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
