[Desktop Entry]
Name=PineFlash
GenericName=PineFlash
Comment=Tool to flash pine64 devices
Exec=sh -c "pkexec env DISPLAY=\\$DISPLAY XAUTHORITY=\\$XAUTHORITY pineflash >> /dev/null"
Icon=pine64logo
Terminal=false
Type=Application
Categories=System
X-Desktop-File-Install-Version=0.26
